<div class="container" style="width: 800px;">
  <nav class="navbar bg-light">
    <div class="container">
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" style="width: 300px;" [formControl]="searchControl">
        <button class="btn btn-outline-primary" type="button" (click)="searchControl.reset()">Clear</button>
      </form>
      <button class="btn btn-primary" (click)="openAddNoteModal()">Add Note</button>
    </div>
  </nav>

  <div *ngIf="(filteredNotes$ | async)!.length; else elseBlock" class="row justify-content-end mt-4">
    <div class="col-auto">
      <label for="sort" class="form-label me-2">Sort By:</label>
      <select id="sort" class="form-select" [formControl]="sortControl">
        <option value="updatedAt-asc">Date Updated (asc)</option>
        <option value="updatedAt-desc">Date Updated (desc)</option>
        <option value="title-asc">Title (asc)</option>
        <option value="title-desc">Title (desc)</option>
        <option value="createdAt-asc">Date Created (asc)</option>
        <option value="createdAt-desc">Date Created (desc)</option>
      </select>
    </div>
  </div>

  <ng-template #elseBlock>
    <div class="row justify-content-center">
      <hr>
      <h3 class="text-center">No notes available.</h3>
      <hr>
    </div>
  </ng-template>

  <div class="row justify-content-center">
    <app-notes-list [filteredNotes]="(filteredNotes$ | async)!"></app-notes-list>
  </div>
</div>

<router-outlet />
